body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.head {
	display: flex;
	justify-content: space-between;
	background-color: rgba(90, 96, 101, 0.3);
}

.btn {
	background-color: transparent;
	border: none;
	text-transform: uppercase;
	font-weight: 600;
	transition: all 0.3s linear;
}

.btn:hover {
	cursor: pointer;
	background-color: rgba(74, 74, 74, 0.3);
}

.info {
	display: flex;
	flex-direction: column;
	margin: 60px auto 0;
	max-width: 90%;
	min-height: 70vh;
	border: 1px solid black;
	background-color: rgba(90, 96, 101, 0.3);
}

.filter {
	margin-top: 10px;
	display: flex;
	justify-content: space-around;
}

.filter select {
	height: 30px;
}

.filter .submit {
	border: 1px solid black;
	border-radius: 6px;
	background-color: #ffffff;
}

.filter .submit:hover {
	cursor: pointer;
}

.search-input {
	width: 200px;
	height: 30px;
}

.cards {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(4, 1fr);
	width: 80%;
	margin: 30px auto;
}

/* .cards {
display: grid;
gap: 10px;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
grid-column-gap: 30px;
margin: 30px auto;
} */

.card {
	position: relative;
	height: 100px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #ffffff;
}

.card-big{
	height: 240px;
}

.show-more {
	color: black;
	text-decoration: none;
}

.show-more:hover {
	text-decoration: underline;
}

.close-btn {
	text-decoration: none;
	color: black;
	position: absolute;
	top: 0;
	right: 0;
}

.no-item {
	align-self: center;
	margin: auto 0;
}

/* class Modal */

.modalDiv {
	position: absolute;
	padding: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	min-height: 200px;
	z-index: 10;
	border: 3px solid black;
	border-radius: 10px;
	box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
	background: #74737a;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.modalDiv .wrapper-inputs {
	margin-bottom: 10px;
}

.modalDiv .wrapper-inputs input {
	width: 100%;
}

.animatePopUp {
	animation: popUp 1s linear;
	transition: all 1s ease;
}
@keyframes popUp {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.visit-form,
.card-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

	.visit-form label {
		display: flex;
		width: 100%;
		justify-content: space-between;
		margin-bottom: 5px;
	}

	.visit-form select {
		margin: 0 auto;
	}

	.visit-form input,
	.visit-form textarea {
		min-width: 60%;
		width: 60%;
		justify-self: right;
	}

.btn-wrapper {
	display: flex;
	justify-content: space-around;
}

.btn-wrapper button {
	margin: 0 10px;
}

/* card */
.edit {
	text-align: center;
	font-size: 8px;
	width: 70px;
	height: 20px;
}

/* edit */
.editCard {
	font-size: 12px;
	width: 80%;
	margin: 5px auto 0 auto;
	border: 1px solid gray;
}

.deleteCard {
	width: 80%;
	margin: 5px auto 5px auto;
	border: 1px solid gray;
}
